* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.logo {
    color: #05d405;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}

.login {
    background: rgb(39, 39, 39);
    border-radius: 10px;
    width: 80%; /* Alterado para uma largura percentual */
    max-width: 400px; /* Adicionado para limitar a largura máxima */
    padding: 40px;
    text-align: center;
    margin: 70px auto; /* Alterado para centralizar verticalmente e horizontalmente */
}

.login h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #05d405;
    text-align: center;
}

.login .box-user {
    position: relative;
}

.login .box-user input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .box-user label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.login .box-user input:focus ~ label,
.login .box-user input:valid ~ label {
    top: -20px;
    left: 0;
    color: #05d405;
    font-size: 12px;
}

.forget {
    font-size: 12px;
    color: rgb(236, 236, 236);
    float: right;
}

.forget:hover {
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #05d405;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
    transition: .5s;
    overflow: hidden;
}

.btn:hover {
    background: #05d405;
    border-radius: 5px;
    color: #172031;
    transform: scale(1.05);
}


@media only screen and (max-width: 768px) {
    .login {
        width: 90%; 
    }

    .login .button-container {
        flex-direction: column; 
    }
}
