:root {
    --primary: #100e17;
    --secondary: #17141d;
    --tertiary: #7a7a8c;
    --quartenary: #05d405;
    --quintary: #28242f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    height: 100ch;
    color: #05d405;
}

.interface {
    max-width: 1600px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    word-spacing: 10px;
    background-color: #100e17;
    padding: 10px;
    border-radius: 15px;
}
.menu-desktop {
    position: fixed;
    width: 100%;
    left: 50%;
}



header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #05d405;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header .menus a {
    color: #006400;
    text-decoration: none;
}

header a:hover {
    color: #05d405;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .conta button {
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: #05d405;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

header .conta button:hover {
    box-shadow: 0px 0px 8px #05d40583;
}

.cambio {
    margin: 0 auto;
    width: 35%;
    background-color: #100e17;
    border-radius: 15px;
    padding-left: 15px;
    padding: 5px;
}

.title-moeda {
    padding-right: 107px;
}

#moeda {
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
    width: 70px;
    height: 30px;
    background-color: #000000;
    border-color: #05d405;
    color: white;
    border-radius: 7px;
}

.grafico-cambio {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-color: #05d405;
    padding-top: 30px;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 60px;
    overflow: hidden;

}

.card-title {
    color: #fff;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 1);
    margin-right: 0px;
    background-color: var(--quartenary);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card {
    left: 300px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: var(--secondary);
    padding: 30px;
    font-size: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 1);
    margin-left: -150px;
    transition: 0.2s;
}

.card:hover {
    margin-right: 150px;
    transform: translateY(-20px);
}

.card .data {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.card .data time {
    color: var(--tertiary);
    padding-left: 10px;
}

.card h2 {
    font-size: 16px;
    line-height: 18px;
    display: block;

}

.card .autor {
    display: flex;
    align-items: center;
}

.card .autor .img-container {
    width: 50px;
    height: 50px;
    border: solid 3px var(--quartenary);
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}

.card .autor .img-container .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(./autoria.png) no-repeat center center;
    background-size: cover;
}

.card .autor .info {
    font-size: 12px;
    font-weight: bold;
}

.card .autor .info span {
    display: block;
    font-size: 10px;
    color: var(--tertiary);
    padding-bottom: 3px;
}

.card .tags a {
    display: inline-block;
    border: solid 3px var(--quintary);
    border-radius: 30px;
    padding: 8px 25px;
    margin-bottom: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--tertiary);
    font-weight: bold;
}

.card .tags a:hover {
    color: var(--quartenary);
    border-color: #05d405;
}

html {
    scroll-behavior: smooth;
}

#escolha {
    padding: 3px;
    font-size: 14px;
    border: 0px solid #000000;
    border-radius: 4px;
    background-color: #000000;
    color: #05d405;

}

.caixanoticias {
    margin-top: 200px;
    background-color: #21222270;
    border-radius: 20px;
    margin: 20px;
}

.card .texto {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#btnSalvar {
    background-color: #000000;
    border: none;
    color: #05d405;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#btnSalvar:hover {
    color: #05d405;
    transform: scale(1.05)
}

#numero {
    padding: 3px;
    font-size: 14px;
    border: 0px solid #000000;
    border-radius: 4px;
    background-color: #000000;
    color: #05d405;
}
.video{
    
    margin-top: 200px;
    background-color: #21222270;
    border-radius: 20px;
    margin: 20px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin-left: 555px;
}
